@import "./variables.scss";
$font_path: '~@/assets/fonts/';

@font-face {
  font-family: 'Manrope';
  src: local('Manrope'), local('Manrope-Regular'),
    url($font_path+'Manrope-Regular.woff2') format('woff2'),
    url($font_path+'Manrope-Regular.otf') format('otf'),
    url($font_path+'Manrope-Regular.ttf') format('ttf');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Manrope';
  src: local('Manrope Bold'), local('Manrope-Bold'),
    url($font_path+'Manrope-Bold.woff2') format('woff2'),
    url($font_path+'Manrope-Bold.otf') format('otf'),
    url($font_path+'Manrope-Bold.ttf') format('ttf');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'Manrope';
  src: local('Manrope Light'), local('Manrope-Light'),
    url($font_path+'Manrope-Light.woff2') format('woff2'),
    url($font_path+'Manrope-Light.otf') format('otf'),
    url($font_path+'Manrope-Light.ttf') format('ttf');
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: 'Prata';
  src: local('Prata'), local('Prata-Regular'),
    url($font_path+'Prata-Regular.ttf') format('ttf');
  font-style: normal;
}

// .fade-enter-active,
// .fade-leave-active {
//   transition: opacity 1s;
// }
// .fade-enter-active {
//   transition: opacity 1s;
// }
// .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
//   opacity: 0;
// }

* {
  color: black;
  font-family: 'Manrope', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  //Font weight specifications > font-weight: 100;
  // Thin            100
  // Extra Light     200
  // Light           300
  // Regular         400
  // Medium          500
  // Semi-Bold       600
  // Bold            700
  // Black           900
}

h4,h5,h6, p {
  font-family: 'Prata', Georgia, 'Times New Roman', Times, serif;
}

.link {
  color: black;
  text-decoration: underline $primary;
}

.vert-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  padding-top: 80px;
  text-align: left;
  @media (max-width: $screen-md) {
    text-align: center;
  }
  @media (max-width: $screen-md) {
    padding-right: 26px;
    padding-left: 26px
  }
  @media (min-width: $screen-md) {
    padding-left: 10%;
    padding-right: 10%;
  }
}
#about {
  @media (max-width: $screen-sm) {
    padding-top: 0px;
  }
}

.desktop {
  display: inline;
  @media (max-width: $screen-md) {
    display: none !important;
  }
}
.mobile {
  display: none;
  @media (max-width: $screen-md) {
    display: inline;
  }
}
.desktop1 {
  display: inline;
  @media (max-width: $screen-sm) {
    display: none;
  }
}
.mobile1 {
  display: none;
  @media (max-width: $screen-sm) {
    display: inline;
  }
}

.square-pic {
  width: 100%;
}

h1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 75px;

  @media (max-width: $screen-md) {
    font-size: 44px;
  }
}

h2 {
  font-weight: 700;
  text-decoration: underline $primary;
  margin-bottom: 50px;
  text-transform: uppercase;
  font-size: 75px;

  @media (max-width: $screen-md) {
    font-size: 44px;
  }
}

h3 {
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline $primary;
  font-size: 52px;
}

h4 {
  font-weight: 700;
  // text-transform: uppercase;
  font-size: 32px;
}

h5, h6 {
  font-weight: 700;
}

.rotate {
  transform: rotate(-90deg);

  /* Safari */
  -webkit-transform: rotate(-90deg);
  /* Firefox */
  -moz-transform: rotate(-90deg);
  /* IE */
  -ms-transform: rotate(-90deg);
  /* Opera */
  -o-transform: rotate(-90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.margin-wrap {
  @media (min-width: $screen-md) {
    margin-left: 9.86%;
    margin-right: 9.86%;
  }
}

.wrap-mobile {
  padding-left: 0px;
  padding-right: 0px;
}

//Animate elements when scrolled into view
.fade-in-element {
  opacity: 0;
  -webkit-animation: reveal 1s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
  -moz-animation: reveal 1s ease-in 1 normal forwards;
  -o-animation: reveal 1s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
  animation: reveal 1s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
}
.hidden {
  opacity: 0;
}

@-webkit-keyframes reveal {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
       -moz-transform: translateY(100%);
         -o-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);
  }
}

@-moz-keyframes reveal {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
       -moz-transform: translateY(100%);
         -o-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);
  }
}

@-o-keyframes reveal {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
       -moz-transform: translateY(100%);
         -o-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
       -moz-transform: translateY(100%);
         -o-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);
  }
}