$primary: #1758D3;
$grey: #0e0e0e;
$dark-grey: #1D1D1D;
$grey-opac: rgba(14, 14, 14,0.91);

$screen-xs: 576px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

// Import at the end
@import "node_modules/bootstrap/scss/bootstrap.scss";
